<!DOCTYPE HTML>
link(rel='stylesheet', href='app.css')
script(type="text/javascript", src="jquery-2.1.0.min.js")
script(type="text/javascript", src="scroll-enable.js")

.sidebar-wrapper
  .sidebar.left-sidebar This is information on the left sidebar.
  .sidebar.right-sidebar This is information on the right sidebar.
.row.big -1-   (BIG)
.row.little -2-   (LITTLE)
.row.big -3-   (BIG)
.row.little -4-   (LITTLE)
.row.big -5-   (BIG)
.row.little -6-   (LITTLE)
